/* generalのCSS */
/* ヘッダー、ボディ、h1、main_content、ヘッダーの中身まで*/


.header {
    /* background-color: #708aa6; */
    background-color: #fcfcfc;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 0px 4px;
    height: 32px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    padding: 0px 24px;

    gap: 0px 16px;
}

.header-text {
    color: #4b627a;
}

.header-title {
    color: #2c353f;
    font-size: 14px;
    position: absolute;
    /*正攻法がわからない*/
    margin-right: 50%;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

body{
    /* background-color: #ced7e0; */
    background-color: none;
}

h1{
    color: rgb(146, 146, 146);
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
    /* margin-left: 10%; */
}

hr {
    height: 1px;
    background-color: #000000;

    border: none;
    color: #ff0000;
    }



.main_content{
    margin: 24px 24px;
}

