/* display:flex;するためのクラス 意味なくね？*/
.flex-parent {
    display: flex;
}

.display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-notice {
    /* アニメーションの設定 */
    animation: smooth-fadein-out;
    animation-duration: 3.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    opacity: 0;

    /* 通知っぽいスタイル */
    color: rgb(245, 245, 255) !important;
    background-color: #202020;
    font-size: 16px;
    margin: 4px;
    padding: 0px;
    width: 320px;
    height: 32px;
    position: absolute;
    right: 24px;
    top: 32px;
    border-radius: 40px;

    
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* padding: 0px 4px; */
    /* text-align:center;
    height: 24px;
    line-height: 24px; */
    
  }

  @keyframes smooth-fadein-out {
    0%, 100% {opacity: 0;}
    50% {opacity: 1;}
  }


.login-form {
    display: flex;
    flex-direction: column;
    /*上下*/
    align-items: center;
    /*左右*/
    justify-content: center;

    margin-top: 200px;    
    background-color: #f3f3f3;
    /* border: 4px solid rgb(0, 0, 0); */
    width: min-content;
    padding: 0px 160px 80px;
    border-radius: 8px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.form-last-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 16px;

}

.input-box {
    border-bottom: 0.5px solid rgb(39, 39, 39);

}

.button-normal {
    border: 1px solid rgb(163, 163, 163);
    margin: 4px 0 ;
    background-color:#f3ede3;
}

.link-text {
    text-decoration: none;
    color: #4b627a;
}

.detail-title {
    margin: 40px 0px 4px;
    color: rgb(146, 146, 146);
    font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

.remarks {
    margin-top: 0px;
    width: 40%;
    height: 80px;
    color: rgb(15, 15, 15);
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* home */


/* search-header */
.search-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
     flex-flow: row wrap-reverse;
}
.sort-form {
    white-space: nowrap; 
}

.search-box {
    width: 240px;
    height: 24px;
    border-radius: 5px;
    margin-top: 1em;
    background: #f1f1f1;
}


/* DDL */
select {
    /* 初期化 */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
    padding: 0 10px;
    height: 24px;
    width: 240px;
    position: relative;
    background: #f1f1f1;

    /* personally added */
    margin-top: 1em;

}

option[selected][disabled] {
    display: none;
}

